* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  color: white;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-container h1 {
  text-align: center;
  margin: 20px 0;
}

.main-container {
  margin: 80px 0;
  background: #24385b;
  width: 500px;
  min-height: 500px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 4px 4px 10px #273b47;
}
